/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@keyframes back-color {
    from {background-color: #fafafa;}
    to {background-color: #dadada;}
  }

html, body { height: 100%; }

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    animation-name: back-color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}